/* Reset margin */
* {
  padding: o;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  line-height: inherit;
  color: inherit;
  font: inherit;
  list-style: none;
}

/* Smooth scrolling */
html{
  scroll-behavior: smooth;
}


/* Suppresion soulignement nav */
a {
  text-decoration: none;
}


/* end reset */
